{% extends 'base.html.twig' %}

{% block body %}
  <a href="/submitpage">Submit new post</a>
  <h1>Trending posts</h1>
  <table>
    <tr>
      <th>Rating</th>
      <th>Wote!</th>
      <th>Title</th>
    </tr>
  </table>

{% endblock %}