{% extends 'base.html.twig' %}

{% block body %}
  <h1>Submit a new post</h1>
  <form action="/save" method="post">
    <div class="form-group">
      <label for="title">Title:</label>
      <input id="title" name="title" type="text" class="form-control"></input><br>
    </div>
    <div class="form-group">
      <label for="title">URL:</label>
      <input id="url" name="url" type="url" class="form-control"></input>
    </div>
    <input id="submit" type="submit" value="Submit"></input>
  </form>
{% endblock %}
